h2{
    margin-top: var(--espacio-28);
    font-size: var( --font-large);
}
form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--espacio-20);
    margin-top: var(--espacio-20);
    margin-bottom: var(--espacio-20);
}
p , span{
    font-size: var(--font-small);
}

p input{
    border: none;
    border-bottom: 2px solid var(--primario-900);
}

section{
    display: flex;
    gap: 30px;
}

button{
    background-color: var(--primario-900);
    border: none;
    color: white;
    padding: var(--espacio-12);
    width: auto;
    cursor: pointer;
}

.edicion-articulo{
    display: flex;
    flex-direction: column;
}

.imagenes {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: var(--espacio-16);
}

#imagenUno{
    grid-column: 1/2;
    border-bottom: var(--primario-900);
    border-bottom: 2px solid var(--primario-900);
    text-align: center;
}

#imagenDos{
    grid-column: 2/3;
    border-bottom: var(--primario-900);
    border-bottom: 2px solid var(--primario-900);
    text-align: center;
}