main{
    display: flex;
    flex-direction: column;
    gap: var(--espacio-20 );
    align-items: center;
    padding-top: var(--espacio-28);
    padding-bottom: var(--espacio-28);
    text-align: center;
}

h2{
    text-align: center;
    font-size: var(--font-large);
    font-weight: 500;
    padding: var(--espacio-36);
}

div{
    text-align: center;
    font-size: var(--font-medium);
    padding-bottom: var(--espacio-36);
  
}

.boton{
    background-color: var(--primario-900);
    border: none;
    color: white;
    padding: auto ;
    margin-right: var(--espacio-12);
    width: 100px;
    height: 50px;
    cursor: pointer;
}
form a{
    font-size: 1.5rem;
    color: var(--secundario-solid);
    font-weight: 700;
    
}

    